// Primary color
$primary-clr: hsl(172, 67%, 45%);

// Neutral color
$neutral-clr-one: hsl(183, 100%, 15%);
$neutral-clr-two: hsl(186, 14%, 43%);
$neutral-clr-three: hsl(184, 14%, 56%);
$neutral-clr-four: hsl(185, 41%, 84%);
$neutral-clr-five: hsl(189, 41%, 97%);
$neutral-clr-six: hsl(0, 0%, 100%);
$neutral-clr-seven: #26c0ab24;
// Font family
$primary-font: 'Space Mono', monospace;